# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key

'AIzaSyCvSakltfVC7mJJX9qI5D-2h7gNQwKWeI8'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_data = "City_data.csv"
cities_df = pd.read_csv(cities_data)
cities_df.head(10)
# cities_df.dtypes

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,hithadhoo,-0.6000,73.0833,82.18,69.0,100.0,5.10,MV,1.611433e+09
1,1,severo-kurilsk,50.6789,156.1250,22.26,95.0,88.0,34.27,RU,1.611433e+09
2,2,puerto ayora,-0.7393,-90.3518,82.40,74.0,40.0,11.50,EC,1.611433e+09
3,3,atuona,-9.8000,-139.0333,78.12,79.0,2.0,18.39,PF,1.611433e+09
4,4,taolanaro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,snasa,64.2457,12.3778,15.04,93.0,100.0,6.64,NO,1.611433e+09
6,6,kapaa,22.0752,-159.3190,72.00,94.0,90.0,20.71,US,1.611433e+09
7,7,clonakilty,51.6231,-8.8706,37.99,100.0,75.0,4.61,IE,1.611433e+09
8,8,upernavik,72.7868,-56.1549,21.18,79.0,100.0,5.50,GL,1.611433e+09
9,9,saint-philippe,-21.3585,55.7679,78.80,73.0,0.0,5.75,RE,1.611433e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
import gmaps
gmaps.configure(api_key=g_key)

In [10]:
# locations = cities_df[["Lat", "Lng"]].notna()
locations_na=cities_df.dropna()
locations=locations_na[["Lat","Lng"]]
humidity = locations_na['Humidity'].astype(float)

fig = gmaps.figure(center=(0, 0), zoom_level=2.2)
# heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=100, dissipating=True)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)
# # Add layer
fig.add_layer(heat_layer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
ideal=locations_na[(locations_na['Wind Speed']<10) & (locations_na['Cloudiness']== 0.0) 
                   & (locations_na['Max Temp']>70) & (locations_na['Max Temp']<80) ]
ideal

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
9,9,saint-philippe,-21.3585,55.7679,78.80,73.0,0.0,5.75,RE,1.611433e+09
74,74,tabou,4.4230,-7.3528,78.49,87.0,0.0,7.74,CI,1.611433e+09
87,87,wattegama,6.7989,81.4808,73.40,100.0,0.0,6.91,LK,1.611433e+09
158,158,saint-joseph,-21.3667,55.6167,78.80,73.0,0.0,5.75,RE,1.611433e+09
235,235,matara,5.9485,80.5353,72.82,88.0,0.0,7.99,LK,1.611433e+09
485,485,tahoua,14.8888,5.2692,75.20,14.0,0.0,4.61,NE,1.611433e+09
495,495,bangolo,7.0069,-7.4750,75.88,20.0,0.0,1.79,CI,1.611433e+09
595,595,kuliyapitiya,7.4688,80.0401,73.40,88.0,0.0,4.61,LK,1.611433e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure