# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key

'AIzaSyCvSakltfVC7mJJX9qI5D-2h7gNQwKWeI8'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
cities_data = "City_data.csv"
cities_df = pd.read_csv(cities_data)
cities_df.head(10)
# cities_df.dtypes

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,hithadhoo,-0.6000,73.0833,82.18,69.0,100.0,5.10,MV,1.611433e+09
1,1,severo-kurilsk,50.6789,156.1250,22.26,95.0,88.0,34.27,RU,1.611433e+09
2,2,puerto ayora,-0.7393,-90.3518,82.40,74.0,40.0,11.50,EC,1.611433e+09
3,3,atuona,-9.8000,-139.0333,78.12,79.0,2.0,18.39,PF,1.611433e+09
4,4,taolanaro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,snasa,64.2457,12.3778,15.04,93.0,100.0,6.64,NO,1.611433e+09
6,6,kapaa,22.0752,-159.3190,72.00,94.0,90.0,20.71,US,1.611433e+09
7,7,clonakilty,51.6231,-8.8706,37.99,100.0,75.0,4.61,IE,1.611433e+09
8,8,upernavik,72.7868,-56.1549,21.18,79.0,100.0,5.50,GL,1.611433e+09
9,9,saint-philippe,-21.3585,55.7679,78.80,73.0,0.0,5.75,RE,1.611433e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
import gmaps
gmaps.configure(api_key=g_key, v)

In [58]:
# locations = cities_df[["Lat", "Lng"]].notna()
locations_na=cities_df.dropna()
locations=locations_na[["Lat","Lng"]]
humidity = locations_na['Humidity'].astype(float)

fig = gmaps.figure(center=(0, 0), zoom_level=2.2)
# heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=100, dissipating=True)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)
# # Add layer
fig.add_layer(heat_layer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [71]:
ideal=locations_na[((locations_na['Max Temp']>70 | locations_na['Max Temp']<80)
                    & (locations_na['Wind Speed']<10) & (locations_na['Cloudiness']== 0.0))]

TypeError: Cannot perform 'ror_' with a dtyped [float64] array and scalar of type [bool]

In [67]:
locations_na.dtypes
locations_na.head(20)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,hithadhoo,-0.6000,73.0833,82.18,69.0,100.0,5.10,MV,1.611433e+09
1,1,severo-kurilsk,50.6789,156.1250,22.26,95.0,88.0,34.27,RU,1.611433e+09
2,2,puerto ayora,-0.7393,-90.3518,82.40,74.0,40.0,11.50,EC,1.611433e+09
3,3,atuona,-9.8000,-139.0333,78.12,79.0,2.0,18.39,PF,1.611433e+09
5,5,snasa,64.2457,12.3778,15.04,93.0,100.0,6.64,NO,1.611433e+09
6,6,kapaa,22.0752,-159.3190,72.00,94.0,90.0,20.71,US,1.611433e+09
7,7,clonakilty,51.6231,-8.8706,37.99,100.0,75.0,4.61,IE,1.611433e+09
8,8,upernavik,72.7868,-56.1549,21.18,79.0,100.0,5.50,GL,1.611433e+09
9,9,saint-philippe,-21.3585,55.7679,78.80,73.0,0.0,5.75,RE,1.611433e+09
10,10,khatanga,71.9667,102.5000,-27.29,84.0,100.0,11.39,RU,1.611433e+09
11,11,uhlove,44.8215,33.6045,53.01,45.0,55.0,7.00,UA,1.611433e+09
12,12,norman wells,65.2820,-126.8329,-18.40,76.0,40.0,8.05,CA,1.611433e+09
13,13,rikitea,-23.1203,-134.9692,78.84,67.0,0.0,10.31,PF,1.611433e+09
15,15,tiarei,-17.5333,-149.3333,84.20,65.0,20.0,5.75,PF,1.611433e+09
16,16,torbay,47.6666,-52.7314,25.00,93.0,90.0,16.11,CA,1.611433e+09
17,17,isangel,-19.5500,169.2667,77.23,89.0,100.0,7.29,VU,1.611433e+09
18,18,tasiilaq,65.6145,-37.6368,14.00,57.0,12.0,4.61,GL,1.611433e+09
19,19,vaini,-21.2000,-175.2000,80.60,89.0,75.0,6.85,TO,1.611433e+09
20,20,lavrentiya,65.5833,-171.0000,-2.16,86.0,82.0,4.59,RU,1.611433e+09
21,21,pangnirtung,66.1451,-65.7125,15.80,73.0,20.0,3.44,CA,1.611433e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure